/* Maximize user's custom theme in styling */

:root {
  --chronos-semi-gray: hsla(0, 0%, 50%, 0.15);
  --chronos-opacity: 0.2;
}

.workspace-leaf-content[data-type="chronos-timeline"] .view-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.chronos-timeline-container {
  background-color: var(--background-secondary);
  position: relative;
}

.chronos-timeline-container .chronos-timeline-refit-button {
  position: absolute;
  bottom: 2px;
  right: 5px;
  padding: 2px 5px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 99;
  color: var(--icon-color) !important;
}

.chronos-timeline-container .chronos-timeline-refit-button:hover {
  background-color: var(--chronos-semi-gray);
  fill: currentColor;
}

.chronos-timeline-container .chronos-timeline-refit-button svg {
  fill: currentColor;
  width: 16px;
}

.chronos-error-message-container {
  padding: 1rem 1.5rem;
}

.vis-label {
  color: var(--color-base-100) !important;
}

.vis-custom-time,
.vis-custom-time-marker {
  color: var(--color-base-00) !important;
  background-color: var(--color-base-70) !important;
}

.chronos-timeline-container .vis-item.vis-background {
  background-color: hsla(var(--color-accent-hsl), 0.2);
  color: var(--text-on-primary);
}

.chronos-timeline-container .vis-item.vis-selected {
  border-color: var(--color-base-70);
  background-color: var(--color-base-70) !important;
  color: var(--color-base-00) !important;
}

.chronos-timeline-container .vis-item {
  border-radius: var(--radius-s) !important;
  border-color: var(--color-accent);
}

.chronos-timeline-container .vis-box,
.chronos-timeline-container .vis-range {
  cursor: pointer;
  border-color: var(--background-secondary);
  background-color: var(--interactive-accent);
  color: var(--text-on-accent-inverted);
}

.chronos-timeline-container .vis-text {
  color: var(--text-normal) !important;
}

.chronos-timeline-container .vis-dot,
.chronos-timeline-container .vis-line {
  background-color: var(--interactive-accent) !important;
  color: var(--interactive-accent) !important;
}

/* Ensure code editor button is always on top and easy to find with pointer, 
   in chronos blocks only as to not interfer with normal Obsidian behavior 
 */
.block-language-chronos ~ .edit-block-button {
  z-index: 999;
  cursor: pointer !important;
}

.vis-custom-time[title]::after {
  content: attr(title);
  display: none;
}
